<!DOCTYPE html>
<html>
  <head>
    <title>Сайт курсы валют.</title>
    <style>
      .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <h1>Добро пожаловать на мою страницу!</h1>
    <h1>Тут можно получить актуальные и архивные данные о курсе валют!</h1>
    <h1>Данные собраны с официального сайта ЦБ РФ!</h1>

    <div class="button-container">
      <a href="/current-exchange-rate">Актуальный курс USD</a>
      <a href="/exchange-rate">Архивный курс валют</a>
      <a href="/about">О сайте</a>
      <a href="/blog">Новости</a>
    </div>
  </body>
</html>