{% extends "base/index_base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <!-- Таблица внутри средней панели -->
    <table>
      <tr>
        <th>Валюта</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>Рубль</td>
        <td>1 USD</td>
        <td>=</td>
        <td>27.500</td>
      </tr>
      <tr>
        <td>Рубль</td>
        <td>1 USD</td>
        <td>=</td>
        <td>27.500</td>
      </tr>
    </table>
{% endblock %}

