body {
    margin: 0;
    padding: 0;
    background-color: #0056b3; /* Темно-синий фон */
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: space-between; /* Равномерное распределение элементов по ширине */
  }
  .sidebar {
    background-color: #007bff; /* Синий фон для панелей */
    padding: 2vh;
    height: 90vh; /* Высота на 90% высоты окна браузера */
    border-radius: 15px; /* Круглые углы */
  }
  .left-panel {
    width: 20%; /* Ширина на 20% ширины окна браузера */
    margin-left: 0.5%; /* Добавляем отступ справа */
    margin-top: 0.5%;
  }
  .right-panel {
    width: 78%; /* Ширина на 78% ширины окна браузера */
    margin-left: 0.5%; /* Добавляем отступ слева */
    margin-right: 0.5%; /* Добавляем отступ справа */
    margin-top: 0.5%;
  }
  .middle-panel {
    background-color: #ffffff;
    margin: 2vh 0;
    padding: 2vh;
    color: black;
    border-radius: 15px; /* Круглые углы */
    max-height: 80vh;
    overflow-y: auto;
  }
  .top-bar {
    background-color: #0069d9;
    color: white;
    padding: 1vh;
    border-radius: 15px; /* Круглые углы */
  }
  .top-bar a, .top-bar a:link, .top-bar a:visited {
    color: white;
    text-decoration: none;
    margin-right: 10px; /* Добавляем отступ справа между ссылками */
  }
  .top-bar a:last-child {
    margin-right: 0; /* Убираем отступ у последней ссылки */
  }
  .top-bar a:hover {
    color: #b3d4fc; /* Светло-синий цвет при наведении */
  }
  .button {
    display: block;
    width: 100%;
    margin: 2vh 0;
    padding: 2vh;
    background-color: #007bff;
    color: white;
    border: 2px solid white; /* Белая граница */
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 50px; /* Круглые кнопки */
  }
  .button:hover {
    background-color: #0056b3;
  }
  .footer {
    background-color: #343a40;
    color: white;
    text-align: left; /* Выравнивание текста слева */
    padding: 1vh;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer a, .footer a:link, .footer a:visited {
    color: white;
    text-decoration: none;
  }
  .footer a:hover {
    color: #ccc; /* Светло-серый цвет при наведении */
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 2vh;
    border: none; /* Границы убраны */
  }
  th {
    background-color: #007bff;
    color: white;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}
  .search-panel, .share-panel {
    margin-bottom: 2vh;
    padding: 2vh;
    background-color: #e9ecef;
    color: black;
    border-radius: 15px; /* Круглые углы */
  }
  .input-field {
    margin: 0 1vw 0 0;
    padding: 1vh;
  }
  .share-link {
    color: #007bff;
    text-decoration: none;
  }
  .faq-header {
    text-align: center;
  }
  dt {
      font-weight: bold;
      margin-top: 20px;
  }
  dd {
      margin-bottom: 20px;
      margin-left: 0;
  }