{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Моя страница {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index_styles.css' %}">
  </head>
<body>

  <div class="sidebar left-panel">
    <div class="handwritten">Выбор валют</div>
    <a href="/valutes/valute/GBP" class="button">Фунт стерлингов</a>
    <a href="/valutes/valute/USD" class="button">Доллар США</a>
    <a href="/valutes/valute/BRL" class="button">Бразильский реал</a>
  </div>

  <div class="sidebar right-panel">
    <div class="top-bar">
      {% block contents_menu %}
        <a href="/blog">Важные новости</a>
        <a href="/valutes/faq">FAQ</a>
      {% endblock %}
    </div>
    <div class="middle-panel">
      <!-- Панель -->
      {% block content %}

      {% endblock %}
    </div>
  </div>

  <div class="footer">
    © 2021 Компания Инк. | <a href="/valutes/about_site">О сайте</a> | <a href="/valutes/about_company">О компании</a> | <a href="#">Контакты</a>
  </div>

  <script>
    function changeCurrency(сhar_сode) {
      // Выполните здесь любую логику, которую вы хотите применить к выбранной валюте
      console.log("Выбранная валюта: " + сhar_сode);
    }
  </script>

</body>
</html>