{% extends "index_base.html" %}
{% load custom_tags %}

{% block title %}Новости{% endblock %}

{% block content %}
  <div class="middle-panel">
    <!-- Панели новостей -->
    <div class="news-container" style="overflow: auto; max-height: 400px;">
      {% for article in displayable_articles %}
        <div class="news-panel" style="margin-bottom: 10px; padding: 10px; border: 1px solid #ccc;">
            <h2>{{ article.title }}</h2>
            <p>{{ article.anons }}...</p>
            <p>Дата публикации: {{ article.date|date:"Y-m-d" }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
